<div class="wrapper">
  <div class="main">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="tim-title">
              <ngb-carousel >
								<ng-template ngbSlide>
									<div class="picsum-img-wrapper">
										<img
											class="d-block w-100"
											alt="Carousel Bootstrap First"
											src="https://www.layoutit.com/img/sports-q-c-1600-500-1.jpg"
										/>
									</div>
									<div class="carousel-caption">
										<h4>First Thumbnail label</h4>
										<p>
											Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
											id elit non mi porta gravida at eget metus. Nullam id dolor id
											nibh ultricies vehicula ut id elit.
										</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<div class="picsum-img-wrapper">
										<img
											class="d-block w-100"
											alt="Carousel Bootstrap First"
											src="https://www.layoutit.com/img/sports-q-c-1600-500-2.jpg"
										/>
									</div>
									<div class="carousel-caption">
										<h4>First Thumbnail label</h4>
										<p>
											Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
											id elit non mi porta gravida at eget metus. Nullam id dolor id
											nibh ultricies vehicula ut id elit.
										</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<div class="picsum-img-wrapper">
										<img
											class="d-block w-100"
											alt="Carousel Bootstrap First"
											src="https://www.layoutit.com/img/sports-q-c-1600-500-3.jpg"
										/>
									</div>
									<div class="carousel-caption">
										<h4>First Thumbnail label</h4>
										<p>
											Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
											id elit non mi porta gravida at eget metus. Nullam id dolor id
											nibh ultricies vehicula ut id elit.
										</p>
									</div>
								</ng-template>
							</ngb-carousel>
            </div>
          </div>
        </div>
				<div class="row">
					<div class="col-md-4">
						<h2>Heading</h2>
						<p>
							Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
							ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
							justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
							Donec sed odio dui.
						</p>
						<p>
							<a class="btn" href="#">View details »</a>
						</p>
					</div>
					<div class="col-md-4">
						<h2>Heading</h2>
						<p>
							Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
							ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
							justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
							Donec sed odio dui.
						</p>
						<p>
							<a class="btn" href="#">View details »</a>
						</p>
					</div>
					<div class="col-md-4">
						<h2>Heading</h2>
						<p>
							Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
							ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
							justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
							Donec sed odio dui.
						</p>
						<p>
							<a class="btn" href="#">View details »</a>
						</p>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>
