
<nav class="navbar navbar-expand-lg navbar-static-top bg-primary navbar-dark">
  <a class="navbar-brand" [routerLink]="['/home']">Boa Saúde</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li ngbDropdown class="nav-item active">
        <a href (click)="(false)" class="nav-link dropdown-toggle" ngbDropdownToggle>
          Associado
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/associado/cadastrar']"
            >Cadastra Associado <span class="sr-only">(current)</span></a
          >
        </div>
      </li>
      <li ngbDropdown class="nav-item active">
        <a href (click)="(false)" class="nav-link dropdown-toggle" ngbDropdownToggle>
          Prestador
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/prestador/cadastrar']"
            >Cadastra Prestador <span class="sr-only">(current)</span></a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
